.follow-button{
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.follow-button__text{
  display: block;
  width: 6rem;
  padding: .5rem 1rem;
  background-color: #e0e0de;
  border-radius: 3rem;
  transition: .4s ease background-color;
}

.follow-button__text:hover{
  background-color: #c6c3bb;
}

.follow-button__text.follow-button__following{
  background-color: #211515;
  color: #b70303;
  border: solid 2px #b70303;
}

.follow-button .follow-button__following{
  display: none;
}

.follow-button.following:hover .follow-button__follow{
  display: none;
}
.follow-button.following:hover .follow-button__following{
  display: block;
}