*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorCards{
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  width: 20rem;
  padding: 1rem;
  background-color: #18161d;
}